* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
    width: 100px;
    clear: both;
    margin: auto;
    background-color: rgb(232, 223, 230);
    color: rgb(54, 54, 54);
    border-color: white;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

}

.columnwrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

.columnwrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 50%;
    height: 50%;
    margin-top: 10%;
}

.newgame {
    padding: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    color: white;
    background-color: rgb(54, 54, 54);
    position: relative;
  }
