footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }

* {
    line-height: 1.6;
    box-sizing: border-box;
    font-family:'Times New Roman';
}

body {
    background-color: rgb(232, 223, 230);
}


h1{
    text-align: center;
    margin-top: 2cm;
    padding-bottom: 1cm;
    font-size: 35pt;
}

.uinput, .welcome{
    margin-right: 20%;
    margin-left: 20%;
}

.welcome {
    text-align: justify;
}

.childbtn {
    margin-left: 2%;
}

.uinput {
    display: flex;
    flex-wrap: wrap;
}


.child {
    flex: 1 1 100px;
  }

.btn{
    width: 100px;
    clear: both;
    margin: auto;
    background-color:#5f172c;;
    border-color: white;
    color: white;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

}

.columnwrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
    width: 50%;
}

h2 {
    text-align: center;
}

.columnwrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 50%;
    height: 50%;
    margin-top: 10%;
}

.newgame {
    padding: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    background-color: rgb(214, 201, 211);
    position: relative;
  }
